<!DOCTYPE html>
{% load static %}
{% block content %}
<html lang="en">
	<head>
		<title>Biz haqimizda</title>
		<meta charset="utf-8">
		<meta name = "format-detection" content = "telephone=no" />
		<link rel="icon" href="{% static 'images/favicon.ico' %}">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/jquery-migrate-1.2.1.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/superfish.js' %}"></script>
		<script src="{% static 'js/jquery.ui.totop.js' %}"></script>
		<script src="{% static 'js/jquery.equalheights.js' %}"></script>
		<script src="{% static 'js/jquery.mobilemenu.js' %}"></script>
		<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
		<script>
			$(document).ready(function(){
				$().UItoTop({ easingType: 'easeOutQuart' });
			});
		</script>
		<!--[if lt IE 8]>
			<div style=' clear: both; text-align:center; position: relative;'>
				<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
					<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
				</a>
			</div>
		<![endif]-->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<link rel="stylesheet" media="screen" href="css/ie.css">
		<![endif]-->
	</head>
	<body class="" id="top">
		<div class="main">
<!--==============================header=================================-->
			<header>
				<div class="menu_block">
					<div class="container_12">
						<div class="grid_12">
							<nav class="horizontal-nav full-width horizontalNav-notprocessed">
								<ul class="sf-menu">
									<li><a href="{% url 'taxi_system:index' %}">Bosh menu</a></li>
									<li><a href="{% url 'taxi_system:about' %}">Biz haqimizda</a></li>
									<li><a href="{% url 'taxi_system:cars' %}">Mashinalar</a></li>
									<li><a href="{% url 'taxi_system:services' %}">Yangiliklar</a></li>
									<li><a href="{% url 'taxi_system:contact' %}">Bog`lanish</a></li>
								</ul>
							</nav>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="container_12">
					<div class="grid_12">
						<h1>
							<a href="index.html">
								<img src="/static/images/logo.png" alt="Your Happy Family">
							</a>
						</h1>
					</div>
				</div>
				<div class="clear"></div>
			</header>
<!--==============================Content=================================-->
			<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - April 07, 2014!</div>
				<div class="container_12">
					<div class="grid_7">
						<h3>Biz haqimizda</h3>
						<img src="/static/images/page2_img1.jpg" alt="" class="img_inner fleft">
						<div class="extra_wrapper">
							<div class="text1 color2">
								<a href="#">Your Taxining boshqa taxi tizimlaridan ustunlik taraflari </a>
							</div>
							<p>Taksi Toshkentda so’rov bo’limini yaratishda shu sohada ish yuritayotgan tadbirkorlarni qo’shadigan muhim hissasi ham kam bo’lmaydi. Yellowpages.uz sizga kerakli bo’limga o’zingiz haqingizda reklama ma’lumotini foydali ravishda joylashtirishingizni taklif etadi. <span class="color1"><a href="http://www.instagram.com/javlonbektorajonov_007" rel="dofollow">link</a></span>.</p>
							Bizning xizmatlarimiz juda ham qulay arzon hamda sifatlidir. <span class="color1"><a href="http://http://www.instagram.com/javlonbektorajonov_007" rel="nofollow">Chunki bu</a></span>Your Taxi
						</div>
						<div class="clear cl1"></div>
						<p>Taksi Toshkentda – manzillar, telefonlar, barcha ma’lumot katalogimizda
<a href="http://www.instagram.com/javlonbektorajonov_007">YourTaxi.uz</a> taksi Toshkentda turkumiga oid so’rov ma’lumotlarni taqdim etadi. Bu yerda ularning telefonlari, manzillari, joylashuvi va boshqa kontaktlari joylashtirilgan, shu jumladan ularning electron pochta manzillari, agarda mavjud bo’lsa. Taksi Toshkentda bo’limiga murojaat qilgan holda, siz tezkor ravishda maxalliy kompaniyalar haqida kerakli ma’lumotlarni, ish vaqtlari, ularga yetib olish uchun kerak bo’lgan taxminiy mo’ljallarini topishingiz mumkin.


					</div>
					<div class="grid_4 prefix_1">
						<h3>Nima uchun bizni tankashingiz kerak?</h3>
						<ul class="list li">
							<li class="list_count">1</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="{% url 'taxi_system:services' %}">Bizda xizmatlar juda ham arzon</a></div>
								Your Taxini tanlaganingizga hech ham afsuslanyapman.Bizdagi super narxlarni korib hayron qolishingiz aniq.Ayniqsa bizda har haftaning Juma kunlaridan super chegirmalar bolib o`tadi
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">2</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="{% url 'taxi_system:services' %}">Tezkor Xizmatlar</a></div>
								Bizning xizmatlarimiz juda ham tezkor.Siz biz bilan boglanasiz yoki saytimiz orqali buyurtma bersangiz  5 daqiqada mashinalarimiz oyogingiz tagida paydo boladi
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">3</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="{% url 'taxi_system:cars' %}">Mashinalar</a></div>
								Your Taxida mashinalar juda sifatli yangi hamda juda ham mashxur mashinalardir.
							</li>
						</ul>
						<ul class="list li">
							<li class="list_count">4</li>
							<li class="extra_wrapper">
								<div class="text1 color2"><a href="{% url 'taxi_system:services' %}">Super eltuv hizmati</a></div>
								Siz Your Taxi orqali o`z buyurtmangizni tez sifatli yetkazishingiz hamda buyurtmalarni super eltuv xizmatimiz orqali qabul qilishingiz mumkin
							</li>
						</ul>
					</div>
					<div class="clear"></div>
					<div class="grid_12">
						<h3 class="h3__ind1">Tez va Xavfsiz</h3>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Bizning xizmatimiz tez va sifatlidir.Biz bilan doimo xavfsiz bolasiz va manzilingizga muddatidan oldin yetib borasiz😍. </i></p>
							<div class="color2">Tim Barkley</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>	Qulay taxi tizimida siz super chegirmalarga ega bolishingiz mumkin.Bizda xizmatlar juda ham arzondir </i></p>
							<div class="color2">Linda Grey</div>
						</blockquote>
					</div>
					<div class="grid_4">
						<blockquote class="bq1">
							<p><i>Qulay taxi orqali o`z mahsulotlaringizni O`zbekistonning istalgan xududiga istalgan vaqtda yuborishingiz mumkin.Bizda xizmatlar sifatli tez va juda ham arzondir</i></p>
							<div class="color2">Ann Pool</div>
						</blockquote>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
<!--==============================footer=================================-->
		<footer>
			<div class="container_12">
				<div class="grid_12">
					<div class="f_phone"><span>Hoziroq qo`ngiroq qiling:</span>1101</div>
					<div class="socials">
						<a href="http://www.instagram.com/javlonbektorajonov_007" class="fa fa-instagram"></a>
						<a href="http://www.facebook.com/JavlonbekCreator" class="fa fa-facebook"></a>
						<a href="https://www.youtube.com/channel/UC8woriRcnbHFTFlH5iqWCkg" class="fa fa-youtube "></a>
					</div>
					<div class="copy">
						<div class="st1">
						<div class="brand">Your<span class="color1">T</span>axi </div>
						&copy; 2021	| <a href="http://www.instagram.com/javlonbektorajonov_007">Ximoyalangan xizmatlar</a> </div>Web sayt dizaynlashtirildi <a href="http://www.instagram.com/javlonbektorajonov_007" rel="follow">Javlonbek Torajonov tomonidan</a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</footer>
	</body>
</html>
{% endblock %}